.App-header {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  min-height: 540px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.masonry-grid{
    /* display: grid; */
    /* grid-gap: 4px; */
    /* grid-template-columns: repeat(auto-fill, minmax(300px,1fr)); */
    /* grid-auto-rows: 0; */
    column-count: 4;
    column-gap: 10px;
}

@media screen and (max-width: 992px) {
  .App-header{
    min-height: 480px;
  }
  .masonry-grid{
    column-count: 3;
  }
}
@media screen and (max-width: 786px) {
  .App-header{
    min-height: 440px;
  }
  .masonry-grid{
    column-count: 1;
  }
}


